<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Back-End | ODS</title>
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="pagina-creditos">
    <!-- Back-Ground do Inicial do Site -->
    <div class="faixa-inicial">
        <h1>Creditos</h1>
    </div>

    <div class="texto-creditos">
        <h2>Creditos:</h2>
        <p>Desenvolvimento: Guilherme Nunes Ribeiro <br>
            Assistência Virtual: ChatGPT <br>
            Ferramentas Utilizadas: Flask, HTML, CSS, <br>
            Fontes de Pesquisa: Site: Engepoli <br>
            Apoio: Familia, Amigos</p>
    </div>

    
    <!--Faixa Inferior com Informações-->
    <div class="faixa-inferior">
        <p>© 2024 Guilherme Nunes Ribeiro</p>
    </div>

    <!-- Imagem de Fundo -->
    <img src="css/imagem/fundo.jpg" alt="">
</body>
</html>