<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Back-End | ODS</title>
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="pagina-projeto">
    <!-- Back-Ground do Inicial do Site -->
    <div class="faixa-inicial">
        <h1>Projeto</h1>
    </div>


    <!--Página Projeto-->
        
        <div class="texto-projeto">
            <h1>Back End com Indústria inovação e Infraestrutura</h1>
            <p>Quando falamos em inovação, a palavra "tecnologia" é inevitavelmente a primeira que vem à mente. Nesse contexto, o desenvolvimento back-end surge como uma solução chave para apoiar o ODS 9, que foca em "Indústria, Inovação e Infraestrutura".

                Os avanços tecnológicos na área de programação possibilitam a criação de soluções back-end que promovem a acessibilidade, melhoram a infraestrutura e garantem a segurança dos sistemas, abrindo portas para novos projetos que impactam positivamente diversas áreas. Ao oferecer suporte a soluções escaláveis, o back-end contribui diretamente para a criação de plataformas de educação, saúde, comunicação e outras, ampliando o alcance e fortalecendo a infraestrutura digital.
                
                Além disso, o back-end está no centro da construção de soluções que conectam pessoas e possibilitam a disseminação de informações essenciais, quebrando barreiras geográficas e econômicas. Ao se alinhar com os Objetivos de Desenvolvimento Sustentável, especialmente o ODS 9, o desenvolvimento back-end exemplifica como a tecnologia pode ser uma ferramenta transformadora para criar um futuro mais inclusivo, acessível e interconectado.
                
                Por meio da melhoria contínua da infraestrutura digital, o back-end não só impulsiona o crescimento de novas soluções, mas também contribui para um ambiente mais sustentável e resiliente, ao permitir que as inovações tecnológicas se espalhem para cada vez mais pessoas e regiões.</p>
        
            <div class="paragrafo esquerda">
                <h2>Surgimento da Ideia e Contexto do Projeto</h2>
                <p>A ideia de criar este projeto surgiu a partir de uma tarefa acadêmica para uma disciplina da faculdade, cujo objetivo era desenvolver uma solução relacionada a um dos 17 Objetivos de Desenvolvimento Sustentável (ODS), conectando-o diretamente ao curso de graduação. No meu caso, a escolha recaiu sobre o ODS 9, que trata de "Indústria, Inovação e Infraestrutura", e, como estudante de Desenvolvimento Back-End, vi a oportunidade de criar algo que unisse esses dois universos de forma impactante. Decidi, então, desenvolver um site que pudesse explicar e explorar as conexões entre o ODS 9 e o back-end de maneira acessível e educativa.</p>
                <img src="{{ url_for('static', filename='imagem/imagem1.jpg') }}" alt="imagem ilustrativa">
                
            </div>
        
            <div class="paragrafo direita ideias">
                <h2>Criação de um Site mais Complexo</h2>
                <p>O início da criação do site, no entanto, não foi uma tarefa simples. Queria algo mais complexo e inovador do que meu último trabalho, com layouts mais sofisticados e páginas de navegação que garantissem uma experiência de usuário fluida. Minha busca por inovação e melhoria contínua fez com que eu me empenhasse em criar um projeto mais desafiador, que refletisse não só meu aprendizado na área, mas também meu desejo de ir além. Esse desejo de criar algo diferente trouxe o primeiro grande desafio: criar um site mais complexo e com um design mais elaborado.

                </p>
                <img src="{{ url_for('static', filename='imagem/imagem2.jpg') }}" alt="imagem ilustrativa" class="imagem2">
            </div>
        
            <div class="paragrafo esquerda">
                <h2>Relacionando os Dois Assuntos</h2>
                <p>Uma das maiores dificuldades enfrentadas foi, sem dúvida, a tentativa de conectar de forma coesa o ODS 9 com o conceito de desenvolvimento back-end. A questão não era apenas criar um site, mas sim desenvolver ideias que agregassem valor real ao tema e, ao mesmo tempo, ajudassem na conscientização sobre a importância da infraestrutura digital e inovação para um futuro mais sustentável. Foi um desafio constante encontrar soluções criativas que conseguissem mostrar como o back-end pode impulsionar o desenvolvimento de soluções tecnológicas que impactem diretamente a sociedade.</p>
                <img src="{{ url_for('static', filename='imagem/imagem3.jpg') }}" alt="imagem ilustrativa" class="imagem3">
            </div>
        
            <div class="paragrafo direita">
                <h2>Recriação e Aperfeiçoamento</h2>
                <p>No entanto, uma grande lição que aprendi durante esse processo foi a importância da persistência e da revisão constante. O site passou por um processo de criação e recriação, sendo feito e refeito do zero três vezes. Cada versão trouxe melhorias, novas ideias e a oportunidade de corrigir erros, o que me permitiu aperfeiçoar o projeto de forma significativa. Esse ciclo de recomeço foi um bônus inesperado, pois me ajudou a desenvolver uma visão mais crítica sobre o que realmente precisava ser entregue e como o site poderia atingir de forma mais eficaz o objetivo proposto.</p>
                <img src="{{ url_for('static', filename='imagem/imagem4.jpg') }}" alt="imagem ilustrativa" class="imagem4">
            </div>
        </div>
    
    
   
    <!--Faixa Inferior com Informações-->
    <div class="faixa-inferior">
        <p>© 2024 Guilherme Nunes Ribeiro</p>
    </div>

   
</body>
</html>